<app-breadcrumb [title]="'La liste des Types de véhicules'" [items]="['Dashboard']" [active_item]="'Les types de véhicule'"></app-breadcrumb>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="content-section implementation">
            <div class="card">
              <!-- <div class="col-sm-3 m-4">
                <a type="button" class="btn btn-primary" routerLink="/vehicle-type/add" translate="">btn.add</a>
              </div> -->
              <app-vehicle-type-list></app-vehicle-type-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
