
<div class="preloader" style="display: none;"></div><!-- /.preloader -->
<div class="page-wrapper">
    <header class="site-header header-one">
        <div class="top-bar">
            <div class="container">
                <div class="left-block">
                    <a href="#" style="color:#7366FF"><i class="fa fa-user-circle"></i> Customer Sign In</a>
                    <a href="#" style="color:#7366FF"><i class="fa fa-envelope"></i> smezouari@gmail.com</a>
                </div><!-- /.left-block -->
                <div class="logo-block">
                    <!-- <a href="index.html"><img src="./../../../assets/index_ass/images/resources/logo-1-1.png" alt="Awesome Image"></a> -->
                    <a routerLink="index"><img src="./../../../assets/index_ass/images/resources/logo-1-1.png"  style="width: 70px;" alt="Awesome Image"></a>
                </div><!-- /.logo-block -->
                <div class="social-block">
                    <a href="#" style="color:#7366FF"><i class="fa fa-twitter"></i></a>
                    <a href="#" style="color:#7366FF"><i class="fa fa-facebook-f"></i></a>
                    <a href="#" style="color:#7366FF"><i class="fa fa-youtube-play"></i></a>
                    <a href="#" style="color:#7366FF"><i class="fa fa-google-plus"></i></a>
                </div><!-- /.social-block -->
            </div><!-- /.container -->
        </div><!-- /.top-bar -->
        <nav class="navbar navbar-expand-lg navbar-light header-navigation stricky">
            <div class="container clearfix">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="logo-box clearfix">
                    <button class="menu-toggler" data-target="#main-nav-bar">
                        <span class="fa fa-bars"></span>
                    </button>
                </div><!-- /.logo-box -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="main-navigation" id="main-nav-bar">
                    <ul class="navigation-box">
                        <li class=" current ">
                            <a href="index.html">Home<button class="sub-nav-toggler"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button></a>
                            <ul class="sub-menu">
                                <li><a href="index.html">Home One</a></li>
                                <li><a href="index2.html">Home Two</a></li>
                                <li><a href="index.html">Header Versions<button class="sub-nav-toggler"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button></a>
                                    <ul class="sub-menu">
                                        <li><a href="index.html">Header One</a></li>
                                        <li><a href="index2.html">Header Two</a></li>
                                    </ul><!-- /.sub-menu -->
                                </li>
                            </ul><!-- /.sub-menu -->
                        </li>
                        <li><a href="about.html">About</a></li>
                        <li>
                            <a href="#">Pages<button class="sub-nav-toggler"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button></a>
                            <ul class="sub-menu">
                                <li><a href="driver.html">Our Drivers</a></li>
                                <li><a href="taxi.html">Our Taxi</a></li>
                                <li><a href="single-taxi.html">Taxi Details</a></li>
                            </ul><!-- /.sub-menu -->
                        </li>
                        <li><a href="book-ride.html">Book A Ride</a></li>
                        <li>
                            <a href="blog.html">Blog<button class="sub-nav-toggler"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button></a>
                            <ul class="sub-menu">
                                <li><a href="blog.html">Blog Grid</a></li>
                                <li><a href="blog-details.html">Blog Details</a></li>
                            </ul><!-- /.sub-menu -->
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
                <div class="right-side-box">
                    <a routerLink="/login" class="contact-btn-block">
                        <span class="icon-block">
                            <!-- <i class="salahMZ-icon-phone-call"></i> -->
                            <i data-feather="user"></i>
                        </span>
                        <span class="text-block">
                            Mon comptes
                            <span class="tag-line">Se connecter</span>
                        </span>
                    </a>
                </div><!-- /.right-side-box -->
            </div>
            <!-- /.container -->
        </nav>
    </header>



<div class="">
  <div class="row">
    <div class="col-12 p-0">
      <div class="login-card">
        <div>
          <div>
            <a class="logo"  routerLink='/'>
              <img class="img-fluid for-light" src="assets/images/logo/login.png" style="width: 150px;" alt="looginpage">
              <img class="img-fluid for-dark" src="assets/images/logo/logo_dark.png" style="width: 150px;" alt="looginpage">
            </a>
          </div>
          <div class="login-main">
            <form class="theme-form needs-validation" [class.was-validated]="!loginForm.valid" novalidate="" [formGroup]="loginForm" #myForm="ngForm" (ngSubmit)="onLogin(myForm.value)">
              <h4>Connectez-vous au compte</h4>
              <p>Entrez votre email et votre mot de passe pour vous connecter</p>
              <!-- <div class="form-group">
                <label class="col-form-label">Email Address</label>
                <input class="form-control" type="email" required="" placeholder="app@yourmail.com" formControlName="email" >
                <div class="invalid-tooltip" *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.required">Email is required.</div>
                <div class="invalid-tooltip" *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.email">Invalid Email Address.</div>
              </div> -->

              <div class="form-group">
                <label class="col-form-label">Nom d'utilisateur</label>
                <input class="form-control" type="text" required="" placeholder="suername" name="username" ngModel formControlName="username">
                <div class="invalid-tooltip" *ngIf="loginForm.controls.username.touched && loginForm.controls.username.errors?.required">Username is required.</div>
                <!-- <div class="invalid-tooltip" *ngIf="loginForm.controls.username.touched && loginForm.controls.username.errors?.email">Invalid Email Address.</div> -->
              </div>

              <div class="form-group">
                <label class="col-form-label">Mot de passe</label>
                <input class="form-control" [type]="show ? 'text' : 'password'" name="login[password]" required="" placeholder="*********" formControlName="password" name="password" ngModel>
                <div class="invalid-tooltip" *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.required">Password is required.</div>
                <div class="show-hide" (click)="showPassword()" *ngIf="!show"><span class="show"></span></div>
                <div class="show-hide" (click)="showPassword()" *ngIf="show"><span class="Hide"></span></div>
              </div>

              <div class="form-group mb-0">
                <div class="checkbox p-0">
                  <input id="checkbox1" type="checkbox">
                  <label class="text-muted" for="checkbox1">Remember password</label>
                </div>
                <a [routerLink]="'/forgot-password'" class="link">Mot de passe oublié?</a>
                <button class="btn btn-primary btn-block" type="submit" [disabled]="!loginForm.valid">Se connecter</button>
              </div>
              <h6 class="text-muted mt-4 or">Ou se connecter avec</h6>
              <div class="social mt-4">
                <div class="btn-showcase">
                  <a class="btn btn-light" href="https://www.linkedin.com/login" target="_blank">
                    <app-feather-icons [icon]="'linkedin'" class="txt-linkedin"></app-feather-icons> LinkedIn
                  </a>
                  <a class="btn btn-light" href="https://twitter.com/login?lang=en" target="_blank">
                   <app-feather-icons [icon]="'twitter'" class="txt-twitter"></app-feather-icons>twitter
                  </a>
                  <a class="btn btn-light" href="https://www.facebook.com/" target="_blank">
                    <app-feather-icons [icon]="'facebook'" class="txt-fb"></app-feather-icons>facebook
                  </a>
                </div>
              </div>
              <p class="mt-4 mb-0">Vous n'avez pas un compte?
                <a [routerLink]="'/register'" class="ml-2">Créer un compte</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


    <footer class="site-footer">
        <img src="./../../../assets/index_ass/images/background/footer-bg-1-1.png" class="footer-bg" alt="Awesome Image">
        <div class="upper-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="footer-widget about-widget">
                            <div class="widget-title">
                                <h3>About</h3>
                            </div><!-- /.widget-title -->
                            <p>There are many vari of pass of lorem ipsum availab but the majority have suffered in some form by injected humour or words</p>
                            <div class="social-block">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-facebook-f"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div><!-- /.social-block -->
                        </div><!-- /.footer-widget about-widget -->
                    </div><!-- /.col-lg-3 -->
                    <div class="col-lg-2">
                        <div class="footer-widget">
                            <div class="widget-title">
                                <h3>Links</h3>
                            </div><!-- /.widget-title -->
                            <ul class="link-lists">
                                <li><a href="#">About</a></li>
                                <li><a href="#">Get a Taxi</a></li>
                                <li><a href="#">Our Reviews</a></li>
                                <li><a href="#">Latest News</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div><!-- /.footer-widget -->
                    </div><!-- /.col-lg-2 -->
                    <div class="col-lg-3">
                        <div class="footer-widget">
                            <div class="widget-title">
                                <h3>Contact</h3>
                            </div><!-- /.widget-title -->
                            <p>86 Road Broklyn Street, 600 <br> New York, USA</p>
                            <ul class="contact-infos">
                                <li><i class="fa fa-envelope"></i> needhelp@salahMZ.com</li>
                                <li><i class="fa fa-phone-square"></i> 666 888 000</li>
                            </ul><!-- /.contact-infos -->
                        </div><!-- /.footer-widget -->
                    </div><!-- /.col-lg-3 -->
                    <div class="col-lg-4">
                        <div class="footer-widget">
                            <div class="widget-title">
                                <h3>Newsletter</h3>
                            </div><!-- /.widget-title -->
                            <p>Sign up now for our mailing list to get all latest news <br> and updates from salahMZ company.</p>
                            <form action="#" class="subscribe-form">
                                <input type="text" name="email" placeholder="Enter your email">
                                <button type="submit">Go</button>
                            </form>
                        </div><!-- /.footer-widget -->
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.upper-footer -->
        <div class="bottom-footer">
            <div class="container">
                <div class="inner-container">
                    <div class="left-block">
                        <a href="index.html" class="footer-logo"><img src="./../../../assets/index_ass/images/resources/logo-1-1.png" style="width: 150px;" alt="Awesome Image"></a>
                        <span>© 2020 <a href="#">salah-eddine mezouari</a></span>
                    </div><!-- /.left-block -->
                    <div class="right-block">
                        <ul class="link-lists">
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div><!-- /.right-block -->
                </div><!-- /.inner-container -->
            </div><!-- /.container -->
        </div><!-- /.bottom-footer -->
    </footer><!-- /.site-footer -->
</div><!-- /.page-wrapper -->
<a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>


<script src="./../../../assets/index_ass/js/jquery.js"></script>
<script src="./../../../assets/index_ass/js/bootstrap.bundle.min.js"></script>
<script src="./../../../assets/index_ass/js/owl.carousel.min.js"></script>
<script src="./../../../assets/index_ass/js/bootstrap-select.min.js"></script>
<script src="./../../../assets/index_ass/js/jquery.magnific-popup.min.js"></script>
<script src="./../../../assets/index_ass/js/waypoints.min.js"></script>
<script src="./../../../assets/index_ass/js/jquery.counterup.min.js"></script>
<script src="./../../../assets/index_ass/js/jquery.bxslider.min.js"></script>
<script src="./../../../assets/index_ass/js/theme.js"></script>
<!--

<div class="">
  <div class="row">
    <div class="col-12 p-0">
      <div class="login-card">
        <div>
          <div>
            <a class="logo"  routerLink='/'>
              <img class="img-fluid for-light" src="assets/images/logo/login.png" style="width: 150px;" alt="looginpage">
              <img class="img-fluid for-dark" src="assets/images/logo/logo_dark.png" style="width: 150px;" alt="looginpage">
            </a>
          </div>
          <div class="login-main">
            <form class="theme-form needs-validation" [class.was-validated]="!loginForm.valid" novalidate="" [formGroup]="loginForm" #myForm="ngForm" (ngSubmit)="onLogin(myForm.value)">
              <h4>Connectez-vous au compte</h4>
              <p>Entrez votre email et votre mot de passe pour vous connecter/p>


              <div class="form-group">
                <label class="col-form-label">Nom d'utilisateur</label>
                <input class="form-control" type="text" required="" placeholder="suername" name="username" ngModel formControlName="username">
                <div class="invalid-tooltip" *ngIf="loginForm.controls.username.touched && loginForm.controls.username.errors?.required">Username is required.</div>
              </div>

              <div class="form-group">
                <label class="col-form-label">Mot de passe</label>
                <input class="form-control" [type]="show ? 'text' : 'password'" name="login[password]" required="" placeholder="*********" formControlName="password" name="password" ngModel>
                <div class="invalid-tooltip" *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.required">Password is required.</div>
                <div class="show-hide" (click)="showPassword()" *ngIf="!show"><span class="show"></span></div>
                <div class="show-hide" (click)="showPassword()" *ngIf="show"><span class="Hide"></span></div>
              </div>

              <div class="form-group mb-0">
                <div class="checkbox p-0">
                  <input id="checkbox1" type="checkbox">
                  <label class="text-muted" for="checkbox1">Remember password</label>
                </div>
                <a [routerLink]="'/forgot-password'" class="link">Mot de passe oublié?</a>
                <button class="btn btn-primary btn-block" type="submit" [disabled]="!loginForm.valid">Se connecter</button>
              </div>
              <h6 class="text-muted mt-4 or">Ou se connecter avec</h6>
              <div class="social mt-4">
                <div class="btn-showcase">
                  <a class="btn btn-light" href="https://www.linkedin.com/login" target="_blank">
                    <app-feather-icons [icon]="'linkedin'" class="txt-linkedin"></app-feather-icons> LinkedIn
                  </a>
                  <a class="btn btn-light" href="https://twitter.com/login?lang=en" target="_blank">
                   <app-feather-icons [icon]="'twitter'" class="txt-twitter"></app-feather-icons>twitter
                  </a>
                  <a class="btn btn-light" href="https://www.facebook.com/" target="_blank">
                    <app-feather-icons [icon]="'facebook'" class="txt-fb"></app-feather-icons>facebook
                  </a>
                </div>
              </div>
              <p class="mt-4 mb-0">Vous n'avez pas un compte?
                <a [routerLink]="'/authentication/register/simple'" class="ml-2">Créer un compte</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 -->
