
<simple-notifications></simple-notifications>

<app-breadcrumb [title]="'La liste des villes'" [items]="['Apps']" [active_item]="'Villes'"></app-breadcrumb>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="content-section implementation">
            <div class="card">
              <app-cities-list></app-cities-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
