<app-breadcrumb [title]="'La liste des vehicules'" [items]="['Apps']" [active_item]="'vehicules'"></app-breadcrumb>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="content-section implementation">
            <div class="card">
              <!-- <div class="col-sm-3 m-4">
                <a type="button" class="btn btn-primary" routerLink="/dashboard/vehicle/add" translate="">Ajouter</a>
              </div> -->
              <app-vehicle-list></app-vehicle-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
